{% extends "layout.html" %}

{% block title %}Admin{% endblock %}

{% block page_content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Admin</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-shield-alt fa-sm text-white-50"></i> Admin Tools
    </a>
</div>

<div class="row">
    <div class="col-12">
        {% if user and user.role == 'admin' %}
            <div class="alert alert-success" role="alert">
                Hello Administrator! You have access to this page! (hopefuly not through the source code)
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                Ew, Ur not privleged enough to see this page
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}


