{% extends "base.html" %}

{% block content %}
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('index') }}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Lock In<sup>TM</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item {% if request.endpoint == 'index' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('index') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        {% if user and user.role == 'admin' %}
        <li class="nav-item {% if request.endpoint == 'admin' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('admin') }}">
                <i class="fas fa-fw fa-user-shield"></i>
                <span>Admin</span></a>
        </li>
        {% endif %}

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="{{ url_for('login') }}">Login</a>
                    <a class="collapse-item" href="{{ url_for('register') }}">Register</a>
                    <a class="collapse-item" href="{{ url_for('forgot_password') }}">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="{{ url_for('error_404') }}">404 Page</a>
                    <a class="collapse-item" href="{{ url_for('blank') }}">Blank Page</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item {% if request.endpoint == 'charts' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('charts') }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item {% if request.endpoint == 'tables' %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('tables') }}">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search (acts as SQL console) -->
                <form id="sql-search-form" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" id="sql-query" name="query" class="form-control bg-light border-0 small"
                               placeholder="Search" aria-label="SQL Console" aria-describedby="basic-addon2" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="sql-submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <div id="alerts-list">
                                <!-- Alerts will be loaded dynamically -->
                            </div>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <div id="messages-list">
                                <!-- Messages will be loaded dynamically -->
                            </div>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                {% if user %}{{ user.first_name }} {{ user.last_name }}{% else %}Guest{% endif %}
                            </span>
                            <img class="img-profile rounded-circle" src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- SQL Console Results Panel -->
                <div id="sql-console-results" class="mb-4" style="display:none;">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between align-items-center">
                            <h6 class="m-0 font-weight-bold text-primary">SQL Console Results</h6>
                            <div>
                                <button id="sql-clear-results" class="btn btn-sm btn-secondary">Clear</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="sql-console-error" style="display:none;">
                                <div class="alert alert-danger" role="alert"></div>
                            </div>
                            <div id="sql-console-table-wrapper" style="overflow:auto; max-height:400px;">
                                <!-- Table will be injected here -->
                            </div>
                            <div id="sql-console-meta" class="small text-muted mt-2" style="display:none;">
                                <!-- meta info (row count / time) -->
                            </div>
                        </div>
                    </div>
                </div>

                {% block page_content %}{% endblock %}
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- SQL Console Script -->
<script>
(function() {
    const form = document.getElementById('sql-search-form');
    const queryInput = document.getElementById('sql-query');
    const resultsPanel = document.getElementById('sql-console-results');
    const tableWrapper = document.getElementById('sql-console-table-wrapper');
    const errorBox = document.getElementById('sql-console-error');
    const metaBox = document.getElementById('sql-console-meta');
    const clearBtn = document.getElementById('sql-clear-results');

    // Helper: create table from rows (array of objects)
    function renderTable(rows) {
        tableWrapper.innerHTML = '';
        metaBox.style.display = 'none';
        errorBox.style.display = 'none';

        if (!rows || rows.length === 0) {
            tableWrapper.innerHTML = '<div class="p-3">Query executed successfully. No rows returned.</div>';
            metaBox.textContent = 'Rows: 0';
            metaBox.style.display = 'block';
            return;
        }

        // determine columns from first row (object keys)
        const cols = Object.keys(rows[0]);

        const table = document.createElement('table');
        table.className = 'table table-bordered table-sm mb-0';

        const thead = document.createElement('thead');
        const headerRow = document.createElement('tr');
        cols.forEach(col => {
            const th = document.createElement('th');
            th.scope = 'col';
            th.textContent = col;
            headerRow.appendChild(th);
        });
        thead.appendChild(headerRow);
        table.appendChild(thead);

        const tbody = document.createElement('tbody');
        rows.forEach(r => {
            const tr = document.createElement('tr');
            cols.forEach(col => {
                const td = document.createElement('td');
                // show `null` explicitly
                let cell = r[col];
                if (cell === null || cell === undefined) {
                    td.textContent = 'NULL';
                    td.className = 'text-muted';
                } else if (typeof cell === 'object') {
                    // safely stringify objects/arrays
                    try {
                        td.textContent = JSON.stringify(cell);
                    } catch (e) {
                        td.textContent = String(cell);
                    }
                } else {
                    td.textContent = String(cell);
                }
                tr.appendChild(td);
            });
            tbody.appendChild(tr);
        });

        table.appendChild(tbody);
        tableWrapper.appendChild(table);

        metaBox.textContent = 'Rows: ' + rows.length;
        metaBox.style.display = 'block';
    }

    function showError(msg) {
        errorBox.style.display = '';
        errorBox.querySelector('.alert').textContent = msg;
        tableWrapper.innerHTML = '';
        metaBox.style.display = 'none';
    }

    clearBtn.addEventListener('click', function() {
        resultsPanel.style.display = 'none';
        tableWrapper.innerHTML = '';
        errorBox.style.display = 'none';
        metaBox.style.display = 'none';
        queryInput.value = '';
    });

    form.addEventListener('submit', async function(e) {
        e.preventDefault();
        const q = queryInput.value.trim();
        if (!q) {
            return;
        }

        // show results panel
        resultsPanel.style.display = '';

        // clear previous
        tableWrapper.innerHTML = '<div class="p-3">Running query...</div>';
        errorBox.style.display = 'none';
        metaBox.style.display = 'none';

        try {
            const payload = new URLSearchParams();
            payload.append('query', q);

            const resp = await fetch('{{ url_for("sql_console") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    // If you require CSRF, include X-CSRFToken header here.
                },
                body: payload.toString(),
                credentials: 'same-origin'
            });

            const data = await resp.json();

            if (!resp.ok) {
                // HTTP-level error
                const errMsg = data && data.error ? data.error : (resp.status + ' ' + resp.statusText);
                showError(errMsg);
                return;
            }

            if (data.error) {
                showError(data.error);
                return;
            }

            // Expecting { rows: [ {col: val, ...}, ... ] }
            renderTable(data.rows || []);
        } catch (err) {
            showError(String(err));
        }
    });

    // Allow pressing ESC to clear results
    document.addEventListener('keydown', function(e) {
        if (e.key === 'Escape') {
            clearBtn.click();
        }
    });
})();
</script>

{% endblock %}
