{% extends "layout.html" %}

{% block title %}SB Admin 2 - Blank Page{% endblock %}

{% block page_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Blank Page</h1>
</div>

<!-- Content Row -->
<div class="row">

    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Blank Page</h6>
            </div>
            <div class="card-body">
                <p>This is a blank page template. You can use this page as a starting point to create your own custom pages.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
